* text=auto

*.cs        text diff=csharp
*.csproj    text
*.props     text
*.targets   text
*.config    text
*.json      text
*.md        text
*.yml       text
*.yaml      text
*.sln       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf
*.sh        text eol=lf

*.png       binary
*.jpg       binary
*.gif       binary
*.ico       binary
*.snk       binary
*.dll       binary
*.exe       binary
*.pdb       binary
*.nupkg     binary
*.snupkg    binary
