## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
artifacts/
*.binlog

## Visual Studio / Rider / VS Code
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

## Test results and coverage
[Tt]est[Rr]esult*/
TestResults/
*.trx
*.coverage
coverage*.xml
coverage*.json
*.opencover.xml

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

## MSBuild
*.tlog
*.log
msbuild.wrn
msbuild.err

## OS
.DS_Store
Thumbs.db
desktop.ini

## ReSharper / JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
